html, body {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-shadow: inset 0 0 0 1000rem hsla(0, 0%, 20%, 0.8);
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: url('City.jpeg') 0 0 / auto auto no-repeat;
  background-color: hsl(0, 0%, 20%);
  /*background-blend-mode: multiply;*/
  color: hsl(0, 0%, 80%);
  font-size: 1.5rem;
}

body > p {
  width: 80%;
  max-width: 800px;
  margin: 0 auto 2rem;
  text-align: left;
}

main {
  position: relative;
  z-index: 20;
  width: 80%;
  max-width: 800px;
  max-height: 600px;
  margin: 10% auto 2rem;
  font-size: 1.6rem;
  background: url('City.jpeg') 0 0 / auto 100% no-repeat;
  border-radius: 1rem;
  padding-top: 0;
}

article {
  display: flex;
  margin: 0;
}

.city-name {
  flex: 3;
  color: white;
  margin-left: 4rem;
  display: grid;
  grid-template-rows: 5fr 1fr;
}

ul {
  border-top: 1px solid violet;
  list-style-type: none;
  padding-left: 0;
  padding-top: 34px;
  display: inline-block;
  line-height: 1;
  margin: 0;
  max-height: 100px;
}

li {
  display: inline-block;
  margin: 0;
  margin-right: 1rem;
}

h1 {
  font-size: 10rem;
  max-height: 500px;
  margin: 0;
  line-height: 1;
  padding-top: 250px;
  padding-bottom: 1rem;
}

.city-description {
  color: black;
  line-height: 1.5;
  flex: 2;
  background-color: white;
  padding: 0;
  border-radius: 0 10px 10px 0;
  display: grid;
  grid-template-rows: 5fr 1fr;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
}

h2 ~ p {
  color: gray;
  font-size: 1.7rem;
}

h2 + p {
  color: blue;
  line-height: 1;
  margin-top: 0;
}

.inner-city-description-section {
  max-height: 500px;
  margin: 0;
  padding: 4rem 4rem 0 4rem;
}

.img-gallery {
  padding: 0;
  display: flex;
  align-items: stretch;
}

.img-gallery li {
  flex: 1;
  border-left: 1px solid rgb(150, 0, 150);
  padding: 0;
  margin: 0;
  background-color: rgb(150, 0, 150);
}

.img-gallery li:first-child {
  background: url('one.jpg') no-repeat;
  background-color: rgb(150, 0, 150);
  box-shadow: inset 0 0 0 1000rem rgba(150, 0, 150, 0.5);
  /*background-blend-mode: darken;*/
}

.img-gallery li:nth-child(2) {
  background: url('2.jpg') center bottom no-repeat;
  background-color: rgb(150, 0, 150);
  box-shadow: inset 0 0 0 1000rem rgba(150, 0, 150, 0.5);
  /*background-blend-mode: darken;*/
}

.img-gallery li:nth-child(3) {
  background: url('3.jpg') right bottom no-repeat;
  background-color: rgb(150, 0, 150);
  box-shadow: inset 0 0 0 1000rem rgba(150, 0, 150, 0.5);
  /*background-blend-mode: darken;*/
}

.img-gallery li:last-child {
  background-color: hsl(0, 0%, 20%);
  border-radius: 0 0 8px 0;
}

button {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 0 0 10px 0;
  text-align: center;
  background: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 70%);
  border: none;
}

button:hover {
  font-size: 2rem;
  transition: 0.1s;
}
